ul.slider
	li(style="background-image: url(images/slider__1.jpg)")
		div.container
			div.slider__text-block
				include ../0-independent-blocks/title-double/title-double.pug
				+title-double('h1', 'Welcome', 'The Resto')(class="title-double_white")

				p.slider__desc A great Italian family-run restaurant .
	li(style="background-image: url(images/slider__2.jpg)")
		div.container
			div.slider__text-block
				include ../0-independent-blocks/title-double/title-double.pug
				+title-double('h2', 'Welcome', 'The Resto')(class="title-double_white")

				p.slider__desc Welcome to ...
	li(style="background-image: url(images/slider__3.jpg)")
		div.container
			div.slider__text-block
				include ../0-independent-blocks/title-double/title-double.pug
				+title-double('h2', 'Welcome', 'The Resto')(class="title-double_white")

				p.slider__desc Welcome to ...