div.news.p-animate
	div.news__item
		figure.news__img
			img(src = "images/menu-block__03.jpg", alt = "")

		div.news__text

			time.news__time(datetime = "2017-06-29") June 29, 2017

			h3.news__title 
				a(href = "#") Laboriosam Quod Dignissimos

			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.

			p
				a.news__read-more(href = "#") Read More

	div.news__item
		figure.news__img
			img(src = "images/menu-block__05.jpg", alt = "")

		div.news__text

			time.news__time(datetime = "2017-06-29") June 29, 2017

			h3.news__title 
				a(href = "#") Laboriosam Quod Dignissimos

			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.

			p
				a.news__read-more(href = "#") Read More

	div.news__item
		figure.news__img
			img(src = "images/menu-block__02.jpg", alt = "")

		div.news__text

			time.news__time(datetime = "2017-06-29") June 29, 2017

			h3.news__title 
				a(href = "#") Laboriosam Quod Dignissimos

			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.

			p
				a.news__read-more(href = "#") Read More