$font-1: "Open Sans", Arial, sans-serif;
$font-2: "Pinyon Script",serif;

$text-color-1: #8b8e94;
$text-color-2: #000;
$text-color-3: #fff;
$text-color-4: #ffa33e;
$text-color-5: rgba(255, 255, 255, 0.7);

$background-color-1: #e4e4e4;
$background-color-2: #fff;
$background-color-3: #000;
$background-color-4: #ffa33e;
$background-color-5: #262626;