div.hamburger(id="hamburger-1")
	span.line
	span.line
	span.line

nav.main-menu(id="main_menu")
	ul
		li.main-menu__list
			a.main-menu__link(href="#") Welcome
		li.main-menu__list
			a.main-menu__link(href="#") Specialties
		li.main-menu__list
			a.main-menu__link(href="#") Menu
		li.main-menu__list
			a.main-menu__link(href="#") Reservation
		li.main-menu__list
			a.main-menu__link(href="#") Events
		li.main-menu__list
			a.main-menu__link(href="#") Contact