div.footer
	p &copy;. All Rights Reserved. Images by GraphicBurger & Unsplash

	p
		a.footer__soc-ico(href="#")
			i.fa.fa-twitter(aria-hidden="true")

		a.footer__soc-ico(href="#")
			i.fa.fa-facebook-official(aria-hidden="true")

		a.footer__soc-ico(href="#")
			i.fa.fa-instagram(aria-hidden="true")