div.menu-list.p-animate
	div.menu-list__item
		div.menu-list__img
			img(src="images/menu-block__01.jpg", alt="")

		div.menu-list__text
			h3.menu-list__title Fried Potatoes with Garlic
			p.menu-list__composition Crab / Potatoes / Rice

		div.menu-list__price $22.99

	div.menu-list__item
		div.menu-list__img
			img(src="images/menu-block__04.jpg", alt="")

		div.menu-list__text
			h3.menu-list__title Baked Potato Pizza
			p.menu-list__composition Crab / Potatoes / Rice

		div.menu-list__price $22.99

	div.menu-list__item
		div.menu-list__img
			img(src="images/menu-block__03.jpg", alt="")

		div.menu-list__text
			h3.menu-list__title Tuna Roast Source
			p.menu-list__composition Crab / Potatoes / Rice

		div.menu-list__price $22.99

	div.menu-list__item
		div.menu-list__img
			img(src="images/menu-block__02.jpg", alt="")

		div.menu-list__text
			h3.menu-list__title Fried Potatoes with Garlic
			p.menu-list__composition Crab / Potatoes / Rice

		div.menu-list__price $22.99

	div.menu-list__item
		div.menu-list__img
			img(src="images/menu-block__05.jpg", alt="")

		div.menu-list__text
			h3.menu-list__title Roast Beef (4 sticks)
			p.menu-list__composition Crab / Potatoes / Rice

		div.menu-list__price $22.99

	div.menu-list__item
		div.menu-list__img
			img(src="images/menu-block__01.jpg", alt="")

		div.menu-list__text
			h3.menu-list__title Salted Fried Chicken
			p.menu-list__composition Crab / Potatoes / Rice

		div.menu-list__price $22.99

	div.menu-list__item
		div.menu-list__img
			img(src="images/menu-block__02.jpg", alt="")

		div.menu-list__text
			h3.menu-list__title Salted Fried Chicken
			p.menu-list__composition Crab / Potatoes / Rice

		div.menu-list__price $22.99
	div.menu-list__item
		div.menu-list__img
			img(src="images/menu-block__03.jpg", alt="")

		div.menu-list__text
			h3.menu-list__title Tuna Roast Source
			p.menu-list__composition Crab / Potatoes / Rice

		div.menu-list__price $22.99