div.bottom
	div.bottom__block
		h3.bottom__title Locations

		div.bottom__text
			p 198 West 21th Street, Suite 721 <br> New York NY 10016

			p 198 West 21th Street, Suite 721 <br> New York NY 10016

	div.bottom__block
		h3.bottom__title Open Hours

		div.bottom__text
			p Monday - Thursday <br> 5:30pm - 10:00pm

			p Friday - Sunday <br> 5:30pm - 10:00pm

			p Available for Catering <br> Email or Call Us