div.menu-block
	div.menu-block__item.p-animate
		div.menu-block__img(style="background-image: url(images/menu-block__01.jpg);")

		div.menu-block__content
			h3.menu-block__title Baked Potato Pizza

			p.menu-block__text Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.

			p.menu-block__price $20.99

	div.menu-block__item.p-animate
		div.menu-block__img(style="background-image: url(images/menu-block__02.jpg);")

		div.menu-block__content
			h3.menu-block__title Roast Beef (4 sticks)

			p.menu-block__text Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.

			p.menu-block__price $32.99

	div.menu-block__item.menu-block__item_reverse.p-animate
		div.menu-block__img(style="background-image: url(images/menu-block__03.jpg);")

		div.menu-block__content
			h3.menu-block__title Salted Fried Chicken

			p.menu-block__text Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.

			p.menu-block__price $19.99

	div.menu-block__item.menu-block__item_reverse.p-animate
		div.menu-block__img(style="background-image: url(images/menu-block__04.jpg);")

		div.menu-block__content
			h3.menu-block__title Tuna Roast Source

			p.menu-block__text Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.

			p.menu-block__price $25.99

	div.menu-block__item.p-animate
		div.menu-block__img(style="background-image: url(images/menu-block__05.jpg);")

		div.menu-block__content
			h3.menu-block__title Imported Salmon Steak

			p.menu-block__text Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.

			p.menu-block__price $20.99

	div.menu-block__item.p-animate
		div.menu-block__img(style="background-image: url(images/menu-block__01.jpg);")

		div.menu-block__content
			h3.menu-block__title Fried Potatoes with Garlic

			p.menu-block__text Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.

			p.menu-block__price $32.99