div.our-store.p-animate
	div.our-store__col
		div.our-store__title
			include ../0-independent-blocks/title-double/title-double.pug
			+title-double('h2', 'Discover', 'Our Store')

		span.seperator * * *

		div.our-store__desc

			p Voluptatibus quaerat laboriosam fugit non Ut consequatur animi est molestiae enim a voluptate totam natus modi debitis dicta impedit voluptatum quod sapiente illo saepe explicabo quisquam perferendis labore et illum suscipit

			p
				a.our-store__link(href="#")  About Us

	div.our-store__col
		img.our-store__img(src="images/our-store.jpg", alt="Our Store")